// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$text-color: #212121;
$white: #e9e9e9;
$lightgraybg: #f5f5f5;
$graybg: #535353;
$separator: #cdcdcd;
$darkblue: #012a4a;
$semiblack: #121212;
$gutter: 30px;

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    list-style-type: none;
    color: $darkblue;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: $darkblue;

    &:visited {
        color: $darkblue;
    }

    &:hover {
        color: $text-color;
        text-decoration: none;
    }
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 38px;
    margin-bottom: 40px;
}

h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
}

.button {
    color: white !important;
    border: 1px solid $white;
    padding: 12px 40px;

    &:hover {
        color: $darkblue !important;
        background-color: $white;
        border: 1px solid $darkblue !important;
    }
}

.button-dark {
    color: $darkblue;
    border: 1px solid $darkblue;
    padding: 12px 40px;

    &:hover {
        color: $white;
        background-color: $darkblue;
        border: 1px solid $white;
    }
}

.section-header {
    font-weight: bold;
}

.section-desc {
    width: 80%;
    margin: auto;
}

.button-container {
    margin: 80px 0;

    @media screen and (max-width: 576px) {
        margin: 40px 0;
    }
}

nav {
    width: 100%;

    .logo {
        font-weight: bold;
        font-size: 28px;

        @media screen and (max-width: 576px) {
            font-size: 20px;
        }
    }

    .navbar-collapse {
        .navbar-nav {
            width: 40%;

            @media screen and (max-width: 576px) {
                width: 100%;
            }

            a {
                font-weight: normal;
                color: $white !important;
                &:hover {
                    color: darken($color: $white, $amount: 20%) !important;
                }
            }
        }
    }
}

#navbar-top {
    transition:  .6s;
}

.fixed-top {
    background: white;
    -webkit-box-shadow: 0 8px 6px -6px #777;
    -moz-box-shadow: 0 8px 6px -6px #777;
    box-shadow: 0 8px 6px -6px #777;

    .container {
        a {
            color: $darkblue;
        }

        .navbar-toggler-icon {
            color: $darkblue !important;
        }

        .navbar-collapse {
            .navbar-nav {
                a {
                    color: $darkblue !important;
                }
            }
        }
    }
}

header {
    padding-top: 20px;
    background: url('/img/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    transition: top .6s;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $gutter;
    padding-top: 60px;
    padding-bottom: 80px;

    @media screen and (max-width: 576px) {
        padding-top: 20px;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .hero-copy {
        padding-left: 50px;

        @media screen and (max-width: 576px) {
            padding-left: 0;
        }
    }

    .hero-img {
        @media screen and (max-width: 576px) {
            margin-top: 20px;
        }
    }

    h1 {
        font-size: 52px;
        margin-top: 30px;
        font-weight: bold;
    }

    p {
        padding-bottom: 40px;
    }

    .button {
        margin-right: 14px;
    }
}

.featured-section {
    padding: 50px 0;

    .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: $gutter;

        @media screen and (max-width: 576px) {
            grid-template-columns: 1fr;
            padding: 0 30px;
        }
    }
}

.blog-section {
    background: $lightgraybg;
    border-top: 1px solid $separator;
    padding: 50px 0;

    @media screen and (max-width: 576px) {
        padding: 50px 30px 0;
    }

    .blog-posts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: $gutter;
        margin: 60px 0 60px;

        @media screen and (max-width: 576px) {
            grid-template-columns: 1fr;
            text-align: center;
        }

        .blog-post {
            a {
                &:hover {
                    text-decoration: none;
                }
            }

            img {
                max-width: 100%;

            }

            .blog-title {
                font-weight: bold;
                margin-top: 20px;
            }
        }
    }
}

footer {
    background: $darkblue;
    color: $white;
    padding: 40px 0;

    .footer-content {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 576px) {
            flex-direction: column;
            text-align: center;
        }
    }

    ul {
        display: flex;
        justify-content: space-between;
        width: 30%;

        @media screen and (max-width: 576px) {
            width: 100%;
            padding-left: 0;
            justify-content: space-around;
            padding-top: 15px;
        }

        a {
            color: $white !important;
        }
    }
}

.offered-products {
    background: $lightgraybg;
    border-top: 1px solid $separator;
    padding: 50px 0;
}

.product-field {
    padding-left: 50px;

    @media screen and (max-width: 576px) {
        padding-top: 50px;
        text-align: center;
        padding-left: 0;
    }
}

.p-top {
    @media screen and (max-width: 576px) {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.cover {
    height: 80vh;
}

.m-top {
    margin-top: 25vh;
}

.card {
    border-radius: 5px;
    transition: transform .25s;

    &:hover {
        -ms-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

    .product-card {
        .card-body {
            color: $darkblue;
            border-radius: 5px;
        }
    }
}

.cart-q {
    color: $white;
    background: orange;
    border-radius: 50%;
    padding: 2px 8px;
}